/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

html {
  font-family: "Jost", sans-serif;
  height: 100%;
}

.background {
  padding-top: 250px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  filter: blur(0px);
  z-index: -1;
}

.submit-btn {
  background-color: #730941;
  color: azure;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  max-width: 230px;
  margin: auto;
  margin-top: 83vh;
  display: block;
  font-size: 18px;
}

.register-background {
  padding-top: 250px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-size: contain;
  background-position: center;
  filter: blur(0px);
  z-index: -1;
}

.register-container {
  font-family: "Jost", sans-serif;
  height: 100%;
  padding: 40px;
  background-size: contain;
  background-position: center;
  background-repeat: repeat;
  filter: blur(0px);
  z-index: -1;
}

.thanks-container-main {
  font-family: "Jost", sans-serif;
  height: 100vh;
  padding: 40px;
  background-size: contain;
  background-position: center;
  background-repeat: repeat;
  filter: blur(0px);
  z-index: -1;
}

.form-container {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 2%;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 800px;
}

.form-group {
  margin-bottom: 15px;
}

select:focus,
input[type="text"]:focus,
input[type="date"]:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.7);
  outline: none;
}
label {
  display: block;
  margin-bottom: 5px;
}
input[type="text"],
select,
input[type="date"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.form-group {
  margin-bottom: 15px;
}
.form-group.radio-group {
  display: flex;
  gap: 15px;
}
input[type="radio"] {
  margin-top: 0;
}

.register-submit-btn {
  background-color: #730941;
  color: azure;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  max-width: 200px;
  margin: auto;
  display: block;
}

.thanks-container {
  text-align: center;
  background-color: #fcf4e5;
  border-radius: 10px;
  padding: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}